@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff782d;
  --color-secondary: #1a202c;
  --color-base-50: #fff7ed;
  --color-base-100: #ffedd5;
  --color-base-200: #fed7aa;
  --color-base-300: #fdba74;
  --color-accent: #706f6f;
  --color-heading: #2d2d2d;
}

* {
  font-family: "Poppins", sans-serif;
}
